Python Assignment – Pandas

1. Define and create a Dataframe using Pandas.

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
print (df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

2. How can we calculate the standard deviation from the series.

In [12]:
ps1 = pd.Series([1,2,3,4,5,6])
print (ps1)
print ("standard deviation of series is:",ps1.std())

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
standard deviation of series is: 1.8708286933869707

3. Create a Dataframe using List given below:

lis=[‘Python’,’Numpy’,’Pandas’]

In [15]:
lis = ['Python','Numpy','Pandas']

df = pd.DataFrame(lis)
print (df)

        0
0  Python
1   Numpy
2  Pandas

4. Create a Series from dictionary given below:
info = {'x' : 0., 'y' : 1., 'z' : 2.}

In [16]:
info = {'x' : 0., 'y' : 1., 'z' : 2.}

ps1 = pd.Series(info)
print (ps1)

x    0.0
y    1.0
z    2.0
dtype: float64


5. How will you create an empty Dataframe in Pandas?

In [18]:
empty_df = pd.DataFrame.empty
print ("empty dataframe", empty_df)

empty dataframe <property object at 0x000001F9AD172638>


6. 
i) Add a column to that pandas Dataframe that you created in Q1
ii) Change index of that Dataframe.

In [25]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df.columns = ['col1','col2','col3']

print ("added column:")
print (df)

df.index = ['row1','row2','row3']

print ("added Index:")
print (df)

added column:
   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9
added Index:
      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9


7. Get the following from this dataframe:

import random
A = [ random.randint(0,100) for i in range(10) ]
B = [ random.randint(0,100) for i in range(10) ]
df = pd.DataFrame({ 'field_A': A, 'field_B': B })
i) mean
ii) median
iii) mode
iv) 75th percentile
v) 90th percentile
vi) 99th percentile

In [39]:
import random

A = [ random.randint(0,100) for i in range(10) ]
B = [ random.randint(0,100) for i in range(10) ]

df = pd.DataFrame({ 'field_A': A, 'field_B': B })

print ("mean",df.mean())
print ("\n")
print ("median",df.median())
print ("\n")

print ("mode",df.field_A.mode())
print ("\n")

print ("mode",df.field_B.mode())
print ("\n")




print ("75 percentile",df.field_A.quantile(0.75))
print ("90th percentile",df.field_A.quantile(0.90))
print ("99th percentile",df.field_A.quantile(0.95))

df.describe()

mean field_A    44.7
field_B    54.0
dtype: float64


median field_A    45.5
field_B    46.5
dtype: float64


mode 0     9
1    11
2    20
3    31
4    41
5    50
6    55
7    56
8    76
9    98
dtype: int64


mode 0    27
1    34
2    37
3    43
4    44
5    49
6    54
7    70
8    84
9    98
dtype: int64


75 percentile 55.75
90th percentile 78.2
99th percentile 88.09999999999997

         field_A   field_B
count  10.000000  10.00000
mean   44.700000  54.00000
std    28.488009  22.98792
min     9.000000  27.00000
25%    22.750000  38.50000
50%    45.500000  46.50000
75%    55.750000  66.00000
max    98.000000  98.00000


8. How do you count how many unique rows a DataFrame has (i.e.
ignore all rows that are duplicates)?

In [50]:
df = pd.DataFrame([[1,1],[1,2],[1,1],[1,2]])    #  removed the duplicates 
df
print ("Unique rows:",len(df.drop_duplicates().index))

Unique rows: 2


9. How to keep only top 2 most frequent values as it is and replace
everything else as ‘Other’? Take the following as input.

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [58]:
np.random.RandomState(100) 
ser = pd.Series(np.random.randint(1, 5, [12]))

print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:1])] = 'Other'

print(ser)

Top 2 Freq: 1    6
3    4
4    1
2    1
dtype: int64
0     Other
1     Other
2         1
3     Other
4         1
5         1
6         1
7     Other
8     Other
9         1
10        1
11    Other
dtype: object


10. A DataFrame has a column of groups 'grps' and and column of
integer values 'vals':

df = pd.DataFrame({'grps':
list('aaabbcaabcccbbc'),
'vals': [12, 345, 3, 1, 45, 14 , 4, 52, 54, 23, 235,
21, 57, 3, 87]})

For each group, find the sum of the three greatest values. You
should end up with the answer as follows:

grps
a 409
b 156
c 345

In [63]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 'vals': [12, 345, 3, 1, 45, 14 , 4, 52, 54, 23, 235, 21, 57, 3, 87]})
print (df)
print (df.groupby('grps').apply(lambda x: x.vals.nlargest(3).sum()))

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87
grps
a    409
b    156
c    345
dtype: int64



*Create a dataframe for the following to answer the next few questions
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat',
'snake', 'cat', 'dog', 'dog'],
'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no',
'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [3]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'], 'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3], 'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

11. Display a summary of the basic information about this
DataFrame and its data (hint: there is a single method that can
be called on the DataFrame).

In [64]:
df = pd.DataFrame(data , index=labels)
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
animal      10 non-null object
age         8 non-null float64
visits      10 non-null int64
priority    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None


12. Select the rows where the age is between 2 and 4 (inclusive).

In [7]:
print (df[df['age'].between(2,4)])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

13. Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

In [20]:
#print (df[df['animal','age'].iloc[[3,4,8]]])
print(df.iloc[[3, 4, 8], [0, 1]])

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0


14. Select the rows where the age is missing, i.e. it is NaN.

In [22]:
print (df[df['age'].isnull()])

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes


15. Select the rows where the animal is a cat and the age is less than
3.

In [28]:
print (df[(df['animal'] == 'cat') & (df['age'] < 3)])

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no


16. Change the age in row 'f' to 1.5.

In [37]:
df.loc['f','age'] = 1.5
print (df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no


17. In the 'animal' column, change the 'snake' entries to 'python'.

In [50]:
df_replaced = df.replace({'animal':{'snake':'python'}})
print (df_replaced)

   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c  python  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  1.5       3       no
g  python  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no


18. Count the number of each type of animal in df.

In [56]:
print (df['animal'].value_counts())

cat       4
dog       4
snake     2
python    1
Name: animal, dtype: int64

19. The 'priority' column contains the values 'yes' and 'no'. Replace
this column with a column of boolean values: 'yes' should
be True and 'no' should be False.

In [65]:
df['priority'] = df['priority'].map({'yes':True ,'no':False})
print (df)

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

20. For each animal type and each number of visits, find the mean
age. In other words, each row is an animal, each column is a
number of visits and the values are the mean ages (hint: use a
pivot table).

In [70]:
print (df.pivot_table(index='animal', columns='visits', values='age', aggfunc=np.mean))
# or 
print ("\n")
print (df.groupby(["animal", "visits"])["age"].mean())

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
snake   4.5  0.5  NaN


animal  visits
cat     1         2.5
        3         2.5
dog     1         3.0
        2         6.0
        3         NaN
snake   1         4.5
        2         0.5
Name: age, dtype: float64