### 1. City = [‘Gurgaon’, ’Mumbai’, ’Bangalore’]
i) Print the second item from the list.

ii) Change the value from "Gurgaon" to "Kerala"

iii) Remove the last element of the list.

In [30]:
City = ['Gurgaon','Mumbai','Banglore']
#1
print ("Second item from list = ",City[1])
#2
City[0] = "Kerala"
print ("Change the value from Gurgaon to Kerala = ",City)
#3
City.pop()
print ("Remove the last element of the list = ",City)

Second item from list =  Mumbai
Change the value from Gurgaon to Kerala =  ['Kerala', 'Mumbai', 'Banglore']
Remove the last element of the list =  ['Kerala', 'Mumbai']

### 2. Use negative indexing to print the last item in the list. Make a list by yourself.

In [31]:
temp = [1,2,3,4,5,6,7,8,9]
print ("last elemt of list by using negative indexing =",temp[-1])

last elemt of list by using negative indexing = 9

### 3. Use a range of indexes to print the third, fourth, and fifth item in the list. Make a list by yourself.

In [32]:
# using above list only
print ("print the third, fourth, and fifth item in the list",temp[2:5])

print the third, fourth, and fifth item in the list [3, 4, 5]

### 4. Remove the last element from the city list

In [33]:
del City[-1]
print ("City after Removing the last element = ",City)

City after Removing the last element =  ['Kerala']

### 5. fruits=[‘apple’,’lichi’,’guava’,’cherry’,’mango’,’watermelon’,’banana’]

i) Add "orange" at the end of the above list.

ii) Add "lemon" as the second item in the fruits list

In [40]:
fruits=['apple','lichi','guava','cherry','mango','watermelon','banana']
#1
fruits.append("orange")
print ("added orange at last item in fruits",fruits)
fruits.insert(1,"lemon")
print ("inserted lemon at 2nd position",fruits)

added orange at last item in fruits ['apple', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']
inserted lemon at 2nd position ['apple', 'lemon', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

### 6. Remove ‘cherry’ from the fruit list given above.

In [41]:
fruits.remove("cherry")
print ("removed cherry from fruit list",fruits)

removed cherry from fruit list ['apple', 'lemon', 'lichi', 'guava', 'mango', 'watermelon', 'banana', 'orange']

### 7. Write the python program to let the user input a list of numbers and print the list in descending order.

In [54]:
userdefined_list = input("Enter list of numbers comma seperated = ")
userdefined_list = list(map(int,userdefined_list.split(',')))
print ("list of numbers in desending order = ",userdefined_list[::-1])

Enter list of numbers comma seperated = 1,2,3,4,5,6
list of numbers in desending order =  [6, 5, 4, 3, 2, 1]

### 8. Write the python program to let the user input two lists and combine both the lists.

In [59]:
# number of elements 
n1 = int(input("Enter number of elements : ")) 
  
# Below line read inputs from user using map() function  
l1 = list(map(int,input("\nEnter the numbers comma seperated : ").strip().split(',')))[:n1] 

# number of elements 
n2 = int(input("Enter number of elements : ")) 
  
# Below line read inputs from user using map() function  
l2 = list(map(int,input("\nEnter the numbers comma seperated: ").strip().split(',')))[:n2] 

print("\nList l1 & l2 are - ", l1, l2)
print("\ncombined List - ", l1+l2)

Enter number of elements : 5

Enter the numbers comma seperated : 1,2,3,4,5
Enter number of elements : 4

Enter the numbers comma seperated: 1,2,3,4,5,6

List l1 & l2 are -  [1, 2, 3, 4, 5] [1, 2, 3, 4]

combined List -  [1, 2, 3, 4, 5, 1, 2, 3, 4]

### 9. List = [10, 45, 78, 11, 9, 23]. Shuffle this list.

In [68]:
import random
sl1 = [10, 45, 78, 11, 9, 23]
random.shuffle(sl1)
print ("shuffled list is: ",sl1)

shuffled list is:  [11, 23, 45, 9, 10, 78]

### 10. x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

i) What is the expression that returns the 'z' in 'baz'?

ii) What expression returns the list ['baz', 2.718]?

In [73]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
#1
print ("expression that returns the z in baz =",x[1][2][1][-1])
#2
print ("expression that returns the list baz & 2.718 =",x[1][2][1:])

expression that returns the z in baz = z
expression that returns the list baz & 2.718 = ['baz', 2.718]

### 11. Extract element 20 from the above list.

In [74]:
print ("Extract 20 from above list expression = ",x[1][1])

Extract 20 from above list expression =  20

### 12. You have a list a = [1, 2, 7, 8]

Write a Python statement using slice assignment that will fill in the missing values so that a equals 

[1, 2, 3, 4, 5, 6, 7, 8]

In [81]:
a = [1, 2, 7, 8]
missing_list = [3, 4, 5, 6]
a[2:2] = missing_list
print ("missing value additin using slicing",a)

missing value additin using slicing [1, 2, 3, 4, 5, 6, 7, 8]