### Ans to Q-1:Write a Python program to add an item in a tuple.

In [3]:
tuple_names = ('ram','lakhan','arjun','bheem')
tuple_names + ('nakul',)
print (tuple_names)

('ram', 'lakhan', 'arjun', 'bheem')

### Ans to Q-2:Write a Python program to reverse a tuple.

In [11]:
t2 = list(tuple_names)
t2.reverse()
print (tuple(t2))

('bheem', 'arjun', 'lakhan', 'ram')

### Ans to Q-3:Swap the following two tuples
- tuple1 = (11, 22)
- tuple2 = (99, 88)

In [14]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1,tuple2 = tuple2,tuple1

print ("tuple1 after swap", tuple1)
print ("tuple2 after swap", tuple2)

tuple1 after swap (99, 88)
tuple2 after swap (11, 22)

### Ans to Q-4: Modify the first item (22) of a list inside a following tuple to 222
 - tuple1 = (11, [22, 33], 44, 55)

In [16]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print (tuple1)

(11, [222, 33], 44, 55)

### Ans to Q-5: Write a Python program to unpack a tuple in several variables

In [17]:
var1,var2,var3,var4  = (11, 22, 44, 55)
print (var1,var2,var3,var4)

11 22 44 55

### Ans to Q-6: Write a Python program to add member(s) in an empty set.

In [22]:
set_s1 = set()
set_s1.add("hello")
set_s1.update(["world","test"])
print (set_s1)

{'world', 'hello', 'test'}

### Ans to Q-7:Write a Python program to create an intersection of sets

In [25]:
set_A = {2, 4, 5, 6} 
set_B = {4, 6, 7, 8} 
set_A.intersection(set_B)

{4, 6}

### Ans to Q-8:Write a Python program to create a symmetric difference in sets.

In [26]:
set_A.symmetric_difference(set_B)

{2, 5, 7, 8}

### Ans to Q-9:Return a set of identical items from a given two Python set
- set1 = [10, 20, 30, 40, 50]
- set2 = [30, 40, 50, 60, 70]

In [28]:
# values are given in list so just giving output in list format
set1 = [10, 20, 30, 40, 50]
set2 = [30, 40, 50, 60, 70]
list(set(set1).intersection(set(set2)))

[40, 50, 30]

### Ans to Q-10: Remove 10, 20, 30 elements from a following set at once
- set1 = {10, 20, 30, 40, 50}

In [37]:
set1 = {10, 20, 30, 40, 50}
to_delete = {10, 20, 30}

set1.difference_update(to_delete)
print (set1)

# Note: if we use difference we need to take another variable to store results , 
# difference_update directly removes to_be deleted elemets from set

{40, 50}

### Ans to Q-11: Access value 20 from the following tuple
- example = ("Pooja", [10, 20, 30], (25, 50, 15))

In [38]:
example = ("Pooja", [10, 20, 30], (25, 50, 15))
example[1][1]

20

### Ans to Q-12: Count the number of occurrences of item 50 from a tuple
- numbers = (50, 10, 60, 70, 50)

In [39]:
numbers = (50, 10, 60, 70, 50)
numbers.count(50)

2